[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-migrate = "*"
alembic = "*"
python-dotenv = "*"
flask-wtf = "*"
wtforms = "*"
flask-login = "*"
psycopg2-binary = "*"
flask-cors = "*"
werkzeug = "*"
requests = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
